[submodule "submodules/firebase_utils"]
	path = submodules/firebase_utils
	url = git@github.com:RADar-AZDelta/radar_firebase_utils.git
	branch = dev-Toby
[submodule "submodules/utils"]
	path = submodules/utils
	url = git@github.com:RADar-AZDelta/radar_utils.git
	branch = main
[submodule "submodules/components"]
	path = submodules/components
	url = git@github.com:RADar-AZDelta/radar_svelte_components.git
	branch = main
