.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/static/file*
/static/log.txt
/static/testing-images/upload.png
/static/testing-images/download.png
bearer
public
errorLogs.txt
/public
/scripts/src/group.json